<h1>Here is list of users</h1>
<% @users.each do |user| %>
<%= link_to user_path(id: user.id), class:'nav-link' do%>
   <div class = "row ml-3">
    <div class = "col-md-3 ">
     <img src = "<%= user.photo %>" alt="profile">
    </div>
    <div class = "col-md-8">
     <p><%= user.name %></p>
    <p><%= user.posts_counter%></p>
    </div>
    </div>
     <% end %>
<% end %>

