<h1>List of users by Id</h1>


<div class = 'row'>
<div class = "col-md-3">
     <img src = "<%= @user.photo %>" class = "ml-3" alt="profile">
</div>
<div class = "col-md-8">
<%=@user.name%>
<%=@user.posts_counter%>
</div>

<div class = "row">
<%=@user.bio%>
</div>

<div>

</div>

